.pagination {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
}

.pagination button {
  font-family: Arial;
  background-color: #42a948;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  padding: 12px 20px;
  margin-left: 6px;
}

.pagination button:hover {
  opacity: 0.8;
}

.pagination button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

#selectedPage {
  margin-left: 6px;
  margin-right: 6px;
  width: 40px;
}
